
<style>
    .brand-logo {
        min-height: 64px;
        color: #FFF;
        line-height: 64px;
        text-align: center;
        font-weight: 300;
        font-size: 0.1px;
    }

    .logo {
        background-image: url(/images/logo.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .demo-avatar-dropdown {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 7px 10px 7px 20px;
        font-size: 12px;
        color: rgba(255,255,255,.5);
    }

    .clear:after {
        display: table;
        content: " ";
    }

    .clear, .clear:after, .dl-horizontal dd:after {
        clear: both;
    }

    .mdl-layout__drawer .mdl-navigation, .mdl-menu {
        padding: 0;
    }

      .mdl-layout__drawer .mdl-navigation ul {
            padding-right: 0;
            list-style:none;
            margin:0;
        }

        .mdl-layout__drawer .mdl-navigation li {
            position: relative;
            line-height: 0;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

            .mdl-layout__drawer .mdl-navigation li .mdl-navigation__link {
                padding-left: 50px;
            }

        .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
            background-color: rgba(0,0,0,.2);
            color: #fff;
        }


        .mdl-navigation__link .material-icons.mdl-color-text--green{
           transform: rotate(-90deg);
           
}

        .mdl-navigation__link.expended .material-icons.mdl-color-text--green{
           transform: rotate(0deg);
}

     .mdl-navigation__link.expended + .mdl-navigation {
         display: block;
     }

     .mdl-navigation__link + .mdl-navigation {
         display: none;
     }
        

    .demo-navigation .mdl-navigation__link>.material-icons {
        margin-right: 10px;
        font-size: 18px;
    }

    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        line-height: 20px;
        padding: 13px 20px;
    }

    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin: 0;
        color: #757575;
    }

    .mdl-navigation__link {
        color: #424242;
        text-decoration: none;
        font-weight: 500;
        font-size: 13px;
        margin: 0;
    }

    .collapse {
        height: 0;
        display: none;
    }
</style>


    <mdl-drawer mdl-color="@MDLColors.BlueGrey.WithBritghness50" mdl-bgcolor="@MDLColors.Grey.WithBritghness900" style="border-right: 0" 
            data-simplebar-direction="vertical">
        
    <header class="mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">

        <div class="brand-logo">
            <div class="logo" style="background-image: url(@Url.Content("~/images/logo.png"));">
                ASPNET MDL
            </div>
        </div>
    </header>

        <mdl-nav style="margin-top: 0;padding-bottom:50px;" class="demo-navigation">
            <a mdl-nav-item href="/"><mdl-icon icon="@MDLIcons.home" />About</a>
            <a mdl-nav-item href="/GettingStarted"><mdl-icon icon="@MDLIcons.power_settings_new" />Getting Started</a>

            <a mdl-nav-item v-on:click="toggle">

                <mdl-icon icon="@MDLIcons.extension"/>Components
                <mdl-spacer/>
                <mdl-icon icon="@MDLIcons.arrow_drop_down" mdl-color="@MDLColors.Green" icon-size="24" />
                
            </a>

                    <ul class="mdl-navigation in">
                        <li><a mdl-nav-item href="/Components/Badges"><mdl-icon icon="@MDLIcons.info"/>Badges</a></li>
                        <li><a mdl-nav-item href="/Components/Buttons"><mdl-icon icon="@MDLIcons.touch_app" />Buttons</a></li>
                        <li><a mdl-nav-item href="/Components/Cards"><mdl-icon icon="@MDLIcons.credit_card" />Cards</a></li>
                        <li><a mdl-nav-item href="/Components/Dialog"><mdl-icon icon="@MDLIcons.message" />Dialog</a></li>
                        <li><a mdl-nav-item href="/Components/Footer"><mdl-icon icon="@MDLIcons.vertical_align_bottom" />Footer</a></li>
                        <li><a mdl-nav-item href="/Components/Grid"><mdl-icon icon="@MDLIcons.view_module" />Grid</a></li>
                        <li><a mdl-nav-item href="/Components/Layout"><mdl-icon icon="@MDLIcons.view_quilt" />Layout</a></li>
                        <li><a mdl-nav-item href="/Components/List"><mdl-icon icon="@MDLIcons.format_list_bulleted" />List</a></li>
                        <li><a mdl-nav-item href="/Components/Loading"><mdl-icon icon="@MDLIcons.autorenew" />Loading</a></li>
                        <li><a mdl-nav-item href="/Components/Menus"><mdl-icon icon="@MDLIcons.menu" />Menus</a></li>
                        <li><a mdl-nav-item href="/Components/Sliders"><mdl-icon icon="@MDLIcons.settings_ethernet" />Sliders</a></li>
                        <li><a mdl-nav-item href="/Components/Snackbar"><mdl-icon icon="@MDLIcons.picture_in_picture_alt" />Snackbar</a></li>
                        <li><a mdl-nav-item href="/Components/Tables"><mdl-icon icon="@MDLIcons.view_column" />Tables</a></li>
                        <li><a mdl-nav-item href="/Components/Tabs"><mdl-icon icon="@MDLIcons.tab" />Tabs</a></li>
                        <li><a mdl-nav-item href="/Components/TextFields"><mdl-icon icon="@MDLIcons.input" />Text Fields</a></li>
                        <li><a mdl-nav-item href="/Components/Toggles"><mdl-icon icon="@MDLIcons.radio_button_checked" />Toggles</a></li>
                        <li><a mdl-nav-item href="/Components/Tooltips"><mdl-icon icon="@MDLIcons.mode_comment" />Tooltips</a></li>


                    </ul>
              
            <a mdl-nav-item v-on:click="toggle">
                
                <mdl-icon icon="@MDLIcons.format_align_left" />Style
                <mdl-spacer/>
                <mdl-icon icon="@MDLIcons.arrow_drop_down" mdl-color="@MDLColors.Green" icon-size="24"/>
               
            </a>
            <ul class="mdl-navigation in">
                <ml-menu-group-heading class=""></ml-menu-group-heading>
                <li><a mdl-nav-item href="/Style/Typography"><mdl-icon icon="@MDLIcons.text_format" />Typography</a></li>
                <li><a mdl-nav-item href="/Style/Colors"><mdl-icon icon="@MDLIcons.invert_colors" />Color</a></li>
                <li><a mdl-nav-item href="/Style/Icons"><mdl-icon icon="@MDLIcons.insert_emoticon" />Icons</a></li>
                <li><a mdl-nav-item href="/Style/Shadows"><mdl-icon icon="@MDLIcons.layers" />Shadow</a></li>
            </ul>
</mdl-nav>

</mdl-drawer>