
<mdl-layout-header mdl-color="@MDLColors.Grey.WithBritghness600" mdl-bgcolor="@MDLColors.White" class="is-casting-shadow">
    <mdl-layout-icon></mdl-layout-icon>

    <mdl-header-row >

        <span class="mdl-layout-title ">
            <a href="#/dashboard">@ViewBag.Page[0] </a>

            @if (!string.IsNullOrEmpty(ViewBag.Page[1]))
            { <text> / @ViewBag.Page[1]</text> }
        </span>

        <mdl-spacer></mdl-spacer>


        <mdl-button icon="true" id="hdrbtn"><mdl-icon icon="@MDLIcons.more_vert"></mdl-icon></mdl-button>
        <mdl-menu direction="BottomRight" for="hdrbtn">
            <mdl-menu-item>Github</mdl-menu-item>
            <mdl-menu-item>Contact</mdl-menu-item>
            <mdl-menu-item>Legal information</mdl-menu-item>
        </mdl-menu>

    </mdl-header-row>
</mdl-layout-header>

