@{

    ViewBag.Page = new[] { "Components", "Badges" };

    ViewBag.Header = new Header
    {
        BgColor = MDLColors.Red,
        Title = "Badge",
        SubTitle = "badge component is an onscreen notification element"
    };
}
<mdl-card mdl-shadow="@MdlShadows.Dp2">

    <mdl-card-title title="Badges on icon"></mdl-card-title>

    <mdl-card-supporting-text>
        <mdl-grid>
            <mdl-cell>
                <mdl-card-title subtitle="Default"></mdl-card-title>

                <mdl-icon icon="@MDLIcons.account_box" mdl-badge="1"></mdl-icon>
                <mdl-icon icon="@MDLIcons.account_box" mdl-badge="a"></mdl-icon>
                <mdl-icon icon="@MDLIcons.account_box" mdl-badge="A"></mdl-icon>
                <mdl-icon icon="@MDLIcons.account_box" mdl-badge="♥"></mdl-icon>
                <mdl-icon icon="@MDLIcons.account_box" mdl-badge="☀"></mdl-icon>

            </mdl-cell>
            <mdl-cell>

                <mdl-card-title subtitle="With colors"></mdl-card-title>
                <mdl-icon icon="@MDLIcons.account_box" mdl-badge="1" mdl-badge-color="@MDLColors.Green"></mdl-icon>
                <mdl-icon icon="@MDLIcons.account_box" mdl-badge="a" mdl-badge-color="@MDLColors.LightBlue"></mdl-icon>
                <mdl-icon icon="@MDLIcons.account_box" mdl-badge="A" mdl-badge-color="@MDLColors.Orange"></mdl-icon>
                <mdl-icon icon="@MDLIcons.account_box" mdl-badge="☀" mdl-badge-color="@MDLColors.Red"></mdl-icon>

               
            </mdl-cell>

            <mdl-cell>

                <mdl-card-title subtitle="Many sizess"></mdl-card-title>
                <mdl-icon icon="@MDLIcons.account_box" icon-size="24" mdl-badge="1" mdl-badge-color="@MDLColors.Green"></mdl-icon>
                <mdl-icon icon="@MDLIcons.account_box" icon-size="32" mdl-badge="1" mdl-badge-color="@MDLColors.Green"></mdl-icon>
                <mdl-icon icon="@MDLIcons.account_box" icon-size="64" mdl-badge="1" mdl-badge-color="@MDLColors.Green"></mdl-icon>
                <mdl-icon icon="@MDLIcons.account_box" icon-size="128" mdl-badge="1" mdl-badge-color="@MDLColors.Green"></mdl-icon>
            </mdl-cell>
        </mdl-grid>
    </mdl-card-supporting-text>

    <pre><code class="language-markup">
&lt;!-- Badge number on icon --&gt;
&lt;mdl-icon icon=&quot;@MDLIcons.account_box&quot; mdl-badge=&quot;1&quot;&gt;&lt;/mdl-icon&gt;
     
&lt;!-- Badge special char on icon --&gt;
&lt;mdl-icon icon=&quot;@MDLIcons.account_box&quot; mdl-badge=&quot;♥&quot;&gt;&lt;/mdl-icon&gt;
       
&lt;!-- Badge color on big icon --&gt;
&lt;mdl-icon icon=&quot;@MDLIcons.account_box&quot; 
        icon-size=&quot;64&quot; 
        mdl-badge=&quot;1&quot; 
        mdl-badge-color=&quot;@MDLColors.Green&quot;&gt;
&lt;/mdl-icon&gt;
    </code>
</pre>

    <mdl-card-title title="Badges on label"></mdl-card-title>

    <mdl-card-supporting-text>
        <mdl-grid>
            <mdl-cell>
                <span mdl-badge="4">Inbox</span>
            </mdl-cell>
            <mdl-cell ><a href="#" mdl-badge="4">Inbox</a></mdl-cell>
            <mdl-cell >
                <span mdl-badge="4">
                    <mdl-button>Inbox</mdl-button>
                </span>
            </mdl-cell>
        </mdl-grid>
        </mdl-card-supporting-text>
<pre><code class="language-markup">
&lt;!--  Badge on label --&gt;
&lt;span mdl-badge=&quot;4&quot;&gt;Inbox&lt;/span&gt;
&lt;!--  Badge on link --&gt;
&lt;a href=&quot;#&quot; mdl-badge=&quot;4&quot;&gt;Inbox&lt;/a&gt;
&lt;!--  Badge on button --&gt;
&lt;span mdl-badge=&quot;4&quot;&gt;
    &lt;mdl-button&gt;Inbox&lt;/mdl-button&gt;
&lt;/span&gt;
    </code>
</pre>
</mdl-card>
