@{
    ViewData["Title"] = "Home Page";
}

@section LeftSide
{
    <h3>
        <mdl-icon icon="@MDLIcons.live_help"></mdl-icon> Attributes
    </h3>

    <p>The Material Design Lite (MDL) badge component is an onscreen notification element. A badge consists of a small circle, typically containing a number or other characters, that appears in proximity to another object. A badge can be both a notifier that there are additional items associated with an object and an indicator of how many items there are.</p>

    <div style="margin-top: 30px">
        <ul class="list-bordered">
            <li>
                <a target="_blank" href="http://www.getmdl.io/components/index.html#badges-section">
                    <i style="font-size: 11px;margin-right: 5px;" class="material-icons">link</i>
                    Badges
                </a>
            </li>
        </ul>
    </div>
}

<mdl-card mdl-shadow="@MdlShadows.Dp2">

    <mdl-card-title title="Badges on icon"></mdl-card-title>

    <mdl-grid>
        <mdl-cell size="4">
            <mdl-icon icon="@MDLIcons.account_box" mdl-badge="1"></mdl-icon>
        </mdl-cell>

        <mdl-cell size="4">
            <mdl-icon icon="@MDLIcons.account_box" mdl-badge="♥"></mdl-icon>

        </mdl-cell>
        <mdl-cell size="4">
            <mdl-icon icon="@MDLIcons.account_box" icon-size="64" mdl-badge="1" mdl-badge-color="@MDLColors.Green"></mdl-icon>
        </mdl-cell>
    </mdl-grid>

    <pre><code class="language-markup">
&lt;!-- Badge number on icon --&gt;
&lt;mdl-icon icon=&quot;@MDLIcons.account_box&quot; mdl-badge=&quot;1&quot;&gt;&lt;/mdl-icon&gt;
     
&lt;!-- Badge special char on icon --&gt;
&lt;mdl-icon icon=&quot;@MDLIcons.account_box&quot; mdl-badge=&quot;♥&quot;&gt;&lt;/mdl-icon&gt;
       
&lt;!-- Badge color on big icon --&gt;
&lt;mdl-icon icon=&quot;@MDLIcons.account_box&quot; 
        icon-size=&quot;64&quot; 
        mdl-badge=&quot;1&quot; 
        mdl-badge-color=&quot;@MDLColors.Green&quot;&gt;
&lt;/mdl-icon&gt;
    </code>
</pre>

    <mdl-card-title title="Badges on label"></mdl-card-title>

    <mdl-grid>
        <mdl-cell size="4">
            <span mdl-badge="4">Inbox</span>
        </mdl-cell>
        <mdl-cell size="4"><a href="#" mdl-badge="4">Inbox</a></mdl-cell>
        <mdl-cell size="4">
            <span mdl-badge="4">
                <mdl-button>Inbox</mdl-button>
            </span>
        </mdl-cell>
    </mdl-grid>

<pre><code class="language-markup">
&lt;!--  Badge on label --&gt;
&lt;span mdl-badge=&quot;4&quot;&gt;Inbox&lt;/span&gt;

&lt;!--  Badge on link --&gt;
&lt;a href=&quot;#&quot; mdl-badge=&quot;4&quot;&gt;Inbox&lt;/a&gt;

&lt;!--  Badge on button --&gt;
&lt;span mdl-badge=&quot;4&quot;&gt;
    &lt;mdl-button&gt;Inbox&lt;/mdl-button&gt;
&lt;/span&gt;
    </code>
</pre>
</mdl-card>
