@section LeftSide
{
    <h3>
        Buttons & Floating Action Button
    </h3>

    <p>
        A button clearly communicates what action will occur when the user touches it. It consists of text, an image, or both, designed in accordance with your app’s color theme.
    </p>

    <div style="margin-top: 30px">
        <ul class="list-bordered">
            <li>
                <a target="_blank" href="http://www.getmdl.io/components/index.html#buttons-section">
                    <i style="font-size: 11px;margin-right: 5px;" class="material-icons">link</i>
                    Button
                </a>
            </li>
        </ul>
    </div>
}

<mdl-card mdl-shadow="@MdlShadows.Dp2">

    <mdl-card-title title="Flat button"></mdl-card-title>
    <mdl-grid>
        <mdl-cell> <mdl-button>Button</mdl-button> </mdl-cell>
        <mdl-cell> <mdl-button ripple="false">Button</mdl-button> </mdl-cell>
        <mdl-cell> <mdl-button disabled>Button</mdl-button> </mdl-cell>
        <mdl-cell> <mdl-button color="@ButtonColors.Primary">Button</mdl-button> </mdl-cell>
        <mdl-cell> <mdl-button color="@ButtonColors.Accent">Button</mdl-button> </mdl-cell>

    </mdl-grid>

    <pre><code class="language-markup">
&lt;!-- Flat button with ripple effect --&gt;
&lt;mdl-button&gt;Button&lt;/mdl-button&gt; 
          
&lt;!-- Ripple effect disable--&gt;                         
&lt;mdl-button ripple="false"&gt;Button&lt;/mdl-button&gt;
&lt;!-- Button disable--&gt;              
&lt;mdl-button disabled&gt;Button&lt;/mdl-button&gt;          
                   
&lt;!-- Button with primary color--&gt;    
&lt;mdl-button color="@@ButtonColors.Primary"&gt;Button&lt;/mdl-button&gt;
        
&lt;!-- Button with primary color--&gt; 
&lt;mdl-button color="@@ButtonColors.Accent"&gt;Button&lt;/mdl-button&gt; 
    </code>
</pre>

    <mdl-card-title title="Raised button"></mdl-card-title>
    <mdl-grid>
        <mdl-cell> <mdl-button raised="true">Button</mdl-button>                               </mdl-cell>
        <mdl-cell> <mdl-button raised="true" ripple="false">Button</mdl-button>                </mdl-cell>
        <mdl-cell> <mdl-button raised="true" disabled>Button</mdl-button>                      </mdl-cell>
        <mdl-cell> <mdl-button raised="true" color="@ButtonColors.Primary">Button</mdl-button> </mdl-cell>
        <mdl-cell> <mdl-button raised="true" color="@ButtonColors.Accent">Button</mdl-button>  </mdl-cell>

    </mdl-grid>

    <pre><code class="language-markup">
&lt;!-- Raised button with ripple effect --&gt;
&lt;mdl-button raised="true"&gt;Button&lt;/mdl-button&gt; 
          
&lt;!-- Ripple effect disable--&gt;                         
&lt;mdl-button raised="true" ripple="false"&gt;Button&lt;/mdl-button&gt;
&lt;!-- Button disable--&gt;              
&lt;mdl-button raised="true" disabled&gt;Button&lt;/mdl-button&gt;          
                   
&lt;!-- Button with primary color--&gt;    
&lt;mdl-button raised="true" color="@@ButtonColors.Primary"&gt;Button&lt;/mdl-button&gt;
        
&lt;!-- Button with primary color--&gt; 
&lt;mdl-button raised="true" color="@@ButtonColors.Accent"&gt;Button&lt;/mdl-button&gt; 
    </code>
</pre>

    <mdl-card-title title="Icon buttons"></mdl-card-title>
    <mdl-grid>
        <mdl-cell> <mdl-button icon="true"><mdl-icon icon="@MDLIcons.add"></mdl-icon></mdl-button></mdl-cell>
        <mdl-cell> <mdl-button icon="true" ripple="false"><mdl-icon icon="@MDLIcons.image"></mdl-icon></mdl-button> </mdl-cell>
        <mdl-cell> <mdl-button icon="true" disabled><mdl-icon icon="@MDLIcons.smartphone"></mdl-icon></mdl-button> </mdl-cell>
        <mdl-cell> <mdl-button icon="true" color="@ButtonColors.Primary"><mdl-icon icon="@MDLIcons.mood"></mdl-icon></mdl-button> </mdl-cell>
        <mdl-cell> <mdl-button icon="true" color="@ButtonColors.Accent"><mdl-icon icon="@MDLIcons.mood_bad"></mdl-icon></mdl-button> </mdl-cell>

    </mdl-grid>

    <pre><code class="language-markup">
&lt;!-- Icon button with ripple effect --&gt;
&lt;mdl-button icon="true"&gt;&lt;mdl-icon icon="@@MDLIcons.add"&gt;&lt;/mdl-icon&gt;&lt;/mdl-button&gt;
         
&lt;!-- Ripple effect disable--&gt;                         
&lt;mdl-button icon="true" ripple="false"&gt;&lt;mdl-icon icon="@@MDLIcons.image"&gt;&lt;/mdl-icon&gt;&lt;/mdl-button&gt;
&lt;!-- Button disable--&gt;              
&lt;mdl-button icon="true" disabled&gt;&lt;mdl-icon icon="@@MDLIcons.smartphone"&gt;&lt;/mdl-icon&gt;&lt;/mdl-button&gt;
                    
&lt;!-- Button with primary color--&gt;    
&lt;mdl-button icon="true" color="@@ButtonColors.Primary"&gt;&lt;mdl-icon icon="@@MDLIcons.mood"&gt;&lt;/mdl-icon&gt;&lt;/mdl-button&gt;
      
&lt;!-- Button with primary color--&gt; 
&lt;mdl-button icon="true" color="@@ButtonColors.Accent"&gt;&lt;mdl-icon icon="@@MDLIcons.mood_bad"&gt;&lt;/mdl-icon&gt;&lt;/mdl-button&gt;
 
    </code>
</pre>


    <mdl-card-title title="FAB button"></mdl-card-title>
    <mdl-grid>
        <mdl-cell> <mdl-button fab="true"><mdl-icon icon="@MDLIcons.add"></mdl-icon></mdl-button></mdl-cell>
        <mdl-cell> <mdl-button fab="true" ripple="false"><mdl-icon icon="@MDLIcons.image"></mdl-icon></mdl-button> </mdl-cell>
        <mdl-cell> <mdl-button fab="true" disabled><mdl-icon icon="@MDLIcons.smartphone"></mdl-icon></mdl-button> </mdl-cell>
        <mdl-cell> <mdl-button fab="true" color="@ButtonColors.Primary"><mdl-icon icon="@MDLIcons.mood"></mdl-icon></mdl-button> </mdl-cell>
        <mdl-cell> <mdl-button fab="true" color="@ButtonColors.Accent"><mdl-icon icon="@MDLIcons.mood_bad"></mdl-icon></mdl-button> </mdl-cell>
        <mdl-cell> <mdl-button fab="true" mini="true"><mdl-icon icon="@MDLIcons.mood_bad"></mdl-icon></mdl-button> </mdl-cell>

    </mdl-grid>

    <pre><code class="language-markup">
&lt;!-- FAB button with ripple effect --&gt;
&lt;mdl-button fab="true"&gt;&lt;mdl-icon icon="@@MDLIcons.add"&gt;&lt;/mdl-icon&gt;&lt;/mdl-button&gt;
         
&lt;!-- Ripple effect disable--&gt;                         
&lt;mdl-button fab="true" ripple="false"&gt;&lt;mdl-icon icon="@@MDLIcons.image"&gt;&lt;/mdl-icon&gt;&lt;/mdl-button&gt;
&lt;!-- Button disable--&gt;              
&lt;mdl-button fab="true" disabled&gt;&lt;mdl-icon icon="@@MDLIcons.smartphone"&gt;&lt;/mdl-icon&gt;&lt;/mdl-button&gt;
                    
&lt;!-- Button with primary color--&gt;    
&lt;mdl-button fab="true" color="@@ButtonColors.Primary"&gt;&lt;mdl-icon icon="@@MDLIcons.mood"&gt;&lt;/mdl-icon&gt;&lt;/mdl-button&gt;
      
&lt;!-- Button with primary color--&gt; 
&lt;mdl-button fab="true" color="@@ButtonColors.Accent"&gt;&lt;mdl-icon icon="@@MDLIcons.mood_bad"&gt;&lt;/mdl-icon&gt;&lt;/mdl-button&gt;
 
&lt;!-- Mini FAB Button--&gt; 
&lt;mdl-button fab="true" color="@@ButtonColors.Accent"&gt;&lt;mdl-icon icon="@@MDLIcons.mood_bad"&gt;&lt;/mdl-icon&gt;&lt;/mdl-button&gt;
    </code>
</pre>

</mdl-card>