@section LeftSide
{
    <h3>Typeface</h3>

    <p>Roboto</p>
    <p>
        Roboto has been refined extensively to work across the wider set of supported platforms. It is slightly wider and rounder, giving it greater clarity and making it more optimistic.
        </p>
<div style="margin-top: 30px">
            <ul class="list-bordered">
                <li>
                    <a target="_blank" href="https://www.google.com/design/spec/style/color.html#">
                        <i style="font-size: 11px;margin-right: 5px;" class="material-icons">link</i>
                        Material design colors spec
                    </a>
                </li>
            </ul>
        </div>
}



        <div style="width: auto; " class="mdl-card mdl-shadow--2dp">

    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Title Styles</h2>
    </div>

    <div style="padding:30px">

        @* TODO : add -color-contrast  => https://www.google.com/design/spec/style/typography.html#typography-other-typographic-guidelines *@
        <div>
            <div mdl-typo="@MDLTypographies.display_4">Light 112sp</div>
            <div class="typo-styles__desc">
                <span class="typo-styles__name">display-4</span>
                <span class="typo-styles__weight">font weight 300</span>
            </div>
        </div>
        <div>
            <div mdl-typo="@MDLTypographies.display_3">Regular 56sp</div>
            <div class="typo-styles__desc">
                <span class="typo-styles__name">display-3</span>
                <span class="typo-styles__weight">font weight 400</span>
            </div>
        </div>
        <div>
            <div mdl-typo="@MDLTypographies.display_2">Regular 45sp</div>
            <div class="typo-styles__desc">
                <span class="typo-styles__name">display-2</span>
                <span class="typo-styles__weight">font weight 400</span>
            </div>
        </div>
        <div>
            <div mdl-typo="@MDLTypographies.display_1">Regular 34sp</div>
            <div class="typo-styles__desc">
                <span class="typo-styles__name">display-1</span>
                <span class="typo-styles__weight">font weight 400</span>
            </div>
        </div>

        <div>
            <div mdl-typo="@MDLTypographies.headline">Regular 24sp</div>
            <div class="typo-styles__desc">
                <span class="typo-styles__name">headline</span>
                <span class="typo-styles__weight">font weight 400</span>
            </div>
        </div>

        <div>
            <div mdl-typo="@MDLTypographies.title">Regular 20sp</div>
            <div class="typo-styles__desc">
                <span class="typo-styles__name">title</span>
                <span class="typo-styles__weight">font weight 500</span>
            </div>
        </div>
    </div>

    <div style="width: auto; " class="mdl-card mdl-shadow--2dp">


        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Text styles</h2>
        </div>


        <div style="padding:30px">

            <div class="mdl-typography--button">typography--button</div>
            <div class="mdl-typography--button-color-contrast">typography--button-color-contrast</div>
            <div class="mdl-typography--text-left">coucou</div>
            <div class="mdl-typography--text-right">coucou</div>
            <div class="mdl-typography--text-center">coucou</div>
            <div class="mdl-typography--text-justify">coucou</div>
            <div class="mdl-typography--text-nowrap">coucou</div>
            <div class="mdl-typography--text-lowercase">coucou</div>
            <div class="mdl-typography--text-capitalize">coucou</div>
            <div class="mdl-typography--font-thin">coucou</div>
            <div class="mdl-typography--font-light">coucou</div>
            <div class="mdl-typography--font-regular">coucou</div>
            <div class="mdl-typography--font-medium">coucou</div>
            <div class="mdl-typography--font-bold">coucou</div>
            <div class="mdl-typography--font-black">coucou</div>

            <a>Link</a>
            <span>span</span>
            <b>b</b>
            <strong>strong</strong>
            <i>italic</i>
            <abbr>abbr</abbr>
            <address>address</address>
            <blockquote>blockquote</blockquote>
            <h1>h1</h1>
            <h2>h2</h2>
            <h3>h3</h3>
            <h4>h4</h4>
            <h5>h5</h5>
            <h6>h6</h6>
        </div>
        </div>
</div>